apiVersion: v1
kind: Service
metadata:
  name: {{ template "fullname" . }}
  labels:
    chart: "{{ .Chart.Name }}-{{ .Chart.Version | replace "+" "_" }}"
spec:
  type: {{ .Values.service.type }}
  ports:
{{ range $name, $value := .Values.service.ports }}
  -
    name: {{ $name }}
    port: {{ $value.externalPort }}
    targetPort: {{ $value.internalPort }}
    protocol: {{ $value.protocol }}
{{ end }}
  selector:
    app: {{ template "fullname" . }}